@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,300&family=Rubik:ital,wght@0,500;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Margins
//

// Margins-left
.ml-5 {
    margin-left: 5px;
}

// Margins-bottom
.mb-5 {
    margin-bottom: 5px;
}

// Vue-notification styles
//

.vue-notification-template {

// style of the notification itself
&.my-notification {
    background-color: #20c47a;
    margin: 0 5px 5px;
    padding: 10px;
    font-size: 15px;
    border-left: 5px solid #000000;

    // style for title line
    .notification-title {
    background: transparent;
    color: rgb(0, 0, 0)
    }

    // style for content
    .notification-content {
    color: rgb(0, 0, 0)
    }

    // types (green, amber, red)
    &.success {
    background: #68CD86;
    border-left-color: #42A85F;
    }

    &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
    }

    &.error {
    background: #E54D42;
    border-left-color: #B82E24;
    }
}
}

@media (max-width: 500px) {
    .vue-notification-template {
        &.my-notification {
            font-size: 10px;
        }
    }
}

